<div class="magictime boingInUp shadow">
  <yedua-app-tool-bar></yedua-app-tool-bar>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>

<main class="container mt-4">
  <section class="row">
    <div class="col-md-2 col-xs-12">
      <yedua-level-filter (lvlChanged)="changeLvl($event)"></yedua-level-filter>
    </div>
    <div class="col-md-6 col-xs-12">
      <yedua-url-input (urlChanged)="changeUrl($event)"></yedua-url-input>
    </div>
    <div class="col-md-2 col-xs-12">
      <yedua-select-shape
        (shpaeChanged)="changeShape($event)"
      ></yedua-select-shape>
    </div>
    <div class="col-md-2 col-3 text-right">
      <button
        [disabled]="loading"
        mat-fab
        color="primary"
        aria-label="start app button"
        (click)="test()"
      >
        <mat-icon>account_tree</mat-icon>
      </button>
    </div>
  </section>
</main>
<div
  *ngIf="mergeData"
  echarts
  [options]="options"
  [merge]="mergeData"
  [ngStyle]="{ height: lvl === '∞' ? '200%' : '100%' }"
></div>

<div
  *ngIf="!hideForceTree"
  id="chartdiv"
  [ngStyle]="{ height: lvl === '∞' ? '200%' : '100%' }"
  style="width: 100%;"
></div>
