// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './theme.scss';
@import '~magic.css/dist/magic.css';
@import '~bootstrap-4-grid/css/grid.css';

html,
body {
  height: 100%;
  background-color: #3b3b40;
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.shadow {
  box-shadow: 0 0 20px white;
}

input {
  color: white !important;
}

.white-text {
  color: white;
}

.text-right {
  text-align: right;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
