<section class="row white-text w-100">
  <mat-radio-group
    aria-label="Select a level"
    class="w-100"
    (change)="onChange($event)"
  >
    <div class="col-xs-3 col-md-12 col-sm-3 m-1">
      <mat-radio-button value="1" color="primary" [checked]="true">
        <span>
          One level
        </span>
      </mat-radio-button>
    </div>
    <div class="col-xs-3 col-md-12 col-sm-3 m-1">
      <mat-radio-button value="2" color="primary">
        <span>
          two levels
        </span>
      </mat-radio-button>
    </div>
    <div class="col-xs-3 col-md-12 col-sm-3 m-1">
      <mat-radio-button value="∞" color="primary">
        <span> <b>∞</b> levels </span>
      </mat-radio-button>
    </div>
  </mat-radio-group>
</section>
